@font-face {
  font-family: "aquarelle";
  font-display: swap;
  src: url("../fonts/aquarelle.woff") format("woff"), url("../fonts/aquarelle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Prata";
  font-display: swap;
  src: url("../fonts/Prata-Regular.woff") format("woff"), url("../fonts/Prata-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Prata;
  font-size: 24px;
  line-height: 1.3;
  text-align: justify;
  color: black;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1480));
}

.wrapper {
  min-height: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size: 30px;
  color: blue;
  letter-spacing: 0.1em;
  line-height: 1.1;
  padding: 0 3vw;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #E55D87;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5FC3E4), to(#E55D87));
  background: -o-linear-gradient(left, #5FC3E4, #E55D87);
  background: linear-gradient(to right, #5FC3E4, #E55D87);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px 0px 50px 0px;
  z-index: 15;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container h1 {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.header_container {
  margin: 0px auto;
  padding: 0px 15px;
}

.container1 {
  margin-top: 80px;
  text-indent: 1.5em;
}

.container1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
}

.change-lang {
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 2px;
  margin-right: 3px;
  z-index: 200;
  border-radius: 5px;
  position: fixed;
}

.wrapperLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 20px;
}

.wrapperRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 20px;
}

._anim-show {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-showLeft {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._anim-showLeft._active,
._active ._anim-show ._anim-showLeft {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.title-itemLeft {
  padding: 20px;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  color: white;
}

.image-left2,
.image-left4,
.image-left6,
.image-left8,
.image-left10 {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.title-itemRight {
  padding: 20px 30px 20px 0;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.image-right1,
.image-right3,
.image-right5,
.image-right7,
.image-right9 {
  height: 15vh;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.no-webp ._left1 {
  background-image: url(../img/kapitochka.png), url(../img/trava1.jpg); }

._left1 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 93% 0, 0 0;
}

.no-webp ._left2 {
  background-image: url(../img/water-heart.png), url(../img/trava1.jpg); }

._left2 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 92% 0, 0 0;
}

.no-webp ._left3 {
  background-image: url(../img/water5.png), url(../img/trava1.jpg); }

._left3 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 93% 0, 0 0;
}

.no-webp ._left4 {
  background-image: url(../img/water6.png), url(../img/trava1.jpg); }

._left4 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 95% 0, 0 0;
}

.no-webp ._left5 {
  background-image: url(../img/pero.png), url(../img/trava1.jpg); }

._left5 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 93% 0, 0 0;
}

.no-webp ._right1 {
  background-image: url(../img/pero.png), url(../img/water.png); }

._right1 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 7% 0, 0 0;
}

.no-webp ._right2 {
  background-image: url(../img/water3.png), url(../img/water.png); }

._right2 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 7% 0, 0 0;
}

.no-webp ._right3 {
  background-image: url(../img/water4bird.png), url(../img/water.png); }

._right3 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 7% 0, 0 0;
}

.no-webp ._right4 {
  background-image: url(../img/water5.png), url(../img/water.png); }

._right4 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 2% 0, 0 0;
}

.no-webp ._right5 {
  background-image: url(../img/water2.png), url(../img/water.png); }

._right5 {
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: 7% 0, 0 0;
}

.bridge-wrapper {
  position: absolute;
}

.bridge-content1,
.bridge-content2,
.bridge-content3,
.bridge-content4,
.bridge-content5,
.bridge-content6,
.bridge-content7,
.bridge-content8,
.bridge-content9,
.bridge-content10 {
  position: fixed;
  display: none;
}

.bridge-content1 img,
.bridge-content2 img,
.bridge-content3 img,
.bridge-content4 img,
.bridge-content5 img,
.bridge-content6 img,
.bridge-content7 img,
.bridge-content8 img,
.bridge-content9 img,
.bridge-content10 img {
  height: 60vh;
}

.bridge-content1.is-active,
.bridge-content2.is-active,
.bridge-content3.is-active,
.bridge-content4.is-active,
.bridge-content5.is-active,
.bridge-content6.is-active,
.bridge-content7.is-active,
.bridge-content8.is-active,
.bridge-content9.is-active,
.bridge-content10.is-active {
  display: block;
}

.no-webp .textBefore {
  background-image: url(../img/trava1.jpg); }

.textBefore {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 20px;
  background-color: #eee7d693;
  color: white;
  border-radius: 20px;
}

.no-webp .block-wrapper {
  background-image: url(../img/water.png); }

.block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1600px;
  height: 20vh;
  background-repeat: repeat;
  border-radius: 20px;
}

.block1 {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1% 0;
  padding-bottom: 20px;
}

.titleAll {
  margin: 5px 0;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.no-webp .image1 {
  background-image: url(../img/slide1.jpg); }

.image1 {
  height: 100%;
}

.imageAll {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  width: 100%;
}

.block2 {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1% 0;
  padding-bottom: 20px;
}

.block3 {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1% 0 0;
  padding-bottom: 20px;
}

.no-webp .image2 {
  background-image: url(../img/slide2.jpg); }

.image2 {
  height: 100%;
}

.no-webp .image3 {
  background-image: url(../img/slide3.jpg); }

.image3 {
  height: 100%;
}

.no-webp .textAfter {
  background-image: url(../img/trava1.jpg); }

.textAfter {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 20px;
  background-color: #eee7d693;
  border-radius: 20px;
  color: white;
}

.no-webp .popup1 {
  background-image: url(../img/black-linen.png); }

.popup1 {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 5px 20px;
  background-color: #eee7d693;
  border-radius: 20px;
  color: #3310f8;
  margin: auto;
  list-style-position: inside;
}

.footer {
  background: #E55D87;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5FC3E4), to(#E55D87));
  background: -o-linear-gradient(left, #5FC3E4, #E55D87);
  background: linear-gradient(to right, #5FC3E4, #E55D87);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px 0px 50px 0px;
  max-width: 1600px;
}

.footer__container {
  background: #E55D87;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5FC3E4), to(#E55D87));
  background: -o-linear-gradient(left, #5FC3E4, #E55D87);
  background: linear-gradient(to right, #5FC3E4, #E55D87);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.name {
  font-family: aquarelle;
  font-size: 40px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.name:hover {
  -webkit-animation-name: nameDance;
          animation-name: nameDance;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(200, start);
          animation-timing-function: steps(200, start);
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@-webkit-keyframes nameDance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes nameDance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 767px) {
  .titleAll {
    font-size: 16px;
  }

  .block1,
  .block2,
  .block3 {
    margin: 2vh 5px 0 5px;
    justify-items: flex-start;
  }

  .titleAll {
    text-indent: 0.1em;
  }

  .block-wrapper {
    height: 40vh;
  }

  .imageAll {
    background-position: center center;
  }
}

.webp ._left1 { background-image: url(../img/kapitochka.webp), url(../img/trava1.webp); }

.webp ._left2 { background-image: url(../img/water-heart.webp), url(../img/trava1.webp); }

.webp ._left3 { background-image: url(../img/water5.webp), url(../img/trava1.webp); }

.webp ._left4 { background-image: url(../img/water6.webp), url(../img/trava1.webp); }

.webp ._left5 { background-image: url(../img/pero.webp), url(../img/trava1.webp); }

.webp ._right1 { background-image: url(../img/pero.webp), url(../img/water.webp); }

.webp ._right2 { background-image: url(../img/water3.webp), url(../img/water.webp); }

.webp ._right3 { background-image: url(../img/water4bird.webp), url(../img/water.webp); }

.webp ._right4 { background-image: url(../img/water5.webp), url(../img/water.webp); }

.webp ._right5 { background-image: url(../img/water2.webp), url(../img/water.webp); }

.webp .textBefore { background-image: url(../img/trava1.webp); }

.webp .block-wrapper { background-image: url(../img/water.webp); }

.webp .image1 { background-image: url(../img/slide1.webp); }

.webp .image2 { background-image: url(../img/slide2.webp); }

.webp .image3 { background-image: url(../img/slide3.webp); }

.webp .textAfter { background-image: url(../img/trava1.webp); }

.webp .popup1 { background-image: url(../img/black-linen.webp); }